In [45]:
from portfolio_tester.config import Asset, Portfolio, SamplerConfig, SimConfig, Goal
from portfolio_tester.data.fetchers import fetch_prices_monthly, prep_returns_and_macro, fetch_fred_series
from portfolio_tester.sampling.bootstrap import ReturnSampler
from portfolio_tester.engine.simulator import MonteCarloSimulator
from portfolio_tester.analytics.metrics import cagr, twrr_annualized, max_drawdown
import numpy as np

In [46]:
# 1) Portfolio (MVP)
p = Portfolio([
        Asset("VTI","Vanguard Total Stock Market ETF",0.30),
        Asset("TLT","iShares 20+ Year Treasury Bond ETF",0.40),
        Asset("IEF","iShares 7-10 Year Treasury Bond ETF",0.15),
        Asset("GSG","iShares S&P GSCI Commodity-Indexed Trust",0.075),
        Asset("GLD","SPDR Gold Shares",0.075),
    ])

In [47]:
# 2) Configs
sim_cfg = SimConfig(horizon_months=30*12, n_sims=100, starting_balance=1_000_000)  # start with 100 sims
sam_cfg = SamplerConfig(mode="single_month", block_years=1, seed=42)

goals = [
    # Withdraw $4,000/mo starting in 1 year, for 30 years, inflation-indexed (real)
    Goal("Retirement Withdrawals", amount=4000, start_month=12, frequency=12, repeats=30*12, real=True),
]

In [48]:
# 3) Data
tickers = p.tickers()
prices_m = fetch_prices_monthly(tickers)
rets_m, infl_m, rf_m = prep_returns_and_macro(prices_m)

[debug] Downloading from Yahoo Finance: ['VTI', 'TLT', 'IEF', 'GSG', 'GLD']

In [49]:
# quick alignment check
rets, infl, rf = prep_returns_and_macro(prices_m)
print("indexes equal:", rets.index.equals(infl.index) and rets.index.equals(rf.index))
print("rets index min/max:", rets.index.min(), rets.index.max())
print("infl missing:", infl.isna().any(), "rf missing:", rf.isna().any())
# show any index differences
print("extra in infl:", infl.index.difference(rets.index))
print("extra in rf:", rf.index.difference(rets.index))

indexes equal: True
rets index min/max: 2006-08-31 00:00:00 2025-10-31 00:00:00
infl missing: False rf missing: False
extra in infl: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')
extra in rf: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')

In [50]:
cpitest = fetch_fred_series("CPIAUCSL")

In [51]:
# merge prices, returns, inflation and rf into one DataFrame for inspection
import pandas as pd

# assume prices_m, rets_m, infl_m, rf_m already exist from your earlier cells
merged = pd.concat([
    prices_m.reindex(rets_m.index).add_prefix("price_"),   # prices aligned to rets index
    rets_m.add_prefix("ret_"),                             # returns (rets_m)
    infl_m.rename("inflation_m"),                         # CPI monthly pct-change
    rf_m.rename("rf_m"),                                  # monthly RF
], axis=1)

# quick checks
print("indexes equal:", rets_m.index.equals(infl_m.index) and rets_m.index.equals(rf_m.index))
print("merged shape:", merged.shape)
print("NaNs per column:\n", merged.isna().sum())

# rows with any NaN (if any)
print("\nRows with any NaN (first 10):")
display(merged[merged.isna().any(axis=1)].head(10))

# sample of merged table
print("\nHead:")
display(merged.head())
print("\nTail:")
display(merged.tail())

# index differences between prices and returns
print("\nExtra months in prices_m not in rets_m:", prices_m.index.difference(rets_m.index)[:10])
print("Extra months in rets_m not in prices_m:", rets_m.index.difference(prices_m.index)[:10])

indexes equal: True
merged shape: (231, 12)
NaNs per column:
 price_VTI      0
price_TLT      0
price_IEF      0
price_GSG      0
price_GLD      0
ret_VTI        0
ret_TLT        0
ret_IEF        0
ret_GSG        0
ret_GLD        0
inflation_m    0
rf_m           0
dtype: int64

Rows with any NaN (first 10):

Empty DataFrame
Columns: [price_VTI, price_TLT, price_IEF, price_GSG, price_GLD, ret_VTI, ret_TLT, ret_IEF, ret_GSG, ret_GLD, inflation_m, rf_m]
Index: []

Head:

,price_VTI,price_TLT,price_IEF,price_GSG,price_GLD,ret_VTI,ret_TLT,ret_IEF,ret_GSG,ret_GLD,inflation_m,rf_m
Date,,,,,,,,,,,,
2006-08-31,45.430847,48.595936,50.731094,47.130001,62.290001,0.022987,0.030560,0.017636,-0.071330,-0.013775,0.000000,0.000000
2006-09-30,46.457584,49.526566,51.343712,42.070000,59.470001,0.022600,0.019150,0.012076,-0.107363,-0.045272,0.000000,0.003923
2006-10-31,48.097591,49.945835,51.620209,41.000000,60.240002,0.035301,0.008466,0.005385,-0.025434,0.012948,-0.004438,0.004010
2006-11-30,49.218044,51.098701,52.297184,43.049999,64.389999,0.023295,0.023082,0.013115,0.050000,0.068891,0.000495,0.004026
2006-12-31,49.809406,49.721264,51.630066,40.070000,63.209999,0.012015,-0.026956,-0.012756,-0.069222,-0.018326,0.005446,0.003955

Tail:

,price_VTI,price_TLT,price_IEF,price_GSG,price_GLD,ret_VTI,ret_TLT,ret_IEF,ret_GSG,ret_GLD,inflation_m,rf_m
Date,,,,,,,,,,,,
2025-06-30,303.087463,86.952774,94.556320,22.040001,304.829987,0.051634,0.026640,0.016020,0.041096,0.004051,0.002870,0.003458
2025-07-31,310.028168,85.961823,93.994728,22.799999,302.959991,0.022900,-0.011396,-0.005939,0.034483,-0.006135,0.001966,0.003474
2025-08-31,317.317902,85.972748,95.543900,22.770000,318.070007,0.023513,0.000127,0.016481,-0.001316,0.049875,0.003825,0.003370
2025-09-30,328.170013,89.059998,96.166000,22.969999,355.470001,0.034199,0.035910,0.006511,0.008783,0.117584,0.000000,0.003209
2025-10-31,331.010010,91.430000,97.400002,23.340000,378.790009,0.008654,0.026611,0.012832,0.016108,0.065603,0.000000,0.003209

Extra months in prices_m not in rets_m: DatetimeIndex(['2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30',
               '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31',
               '2002-02-28', '2002-03-31'],
              dtype='datetime64[ns]', name='Date', freq='ME')
Extra months in rets_m not in prices_m: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')

In [52]:
# merge rets, infl, rf for inspection
import pandas as pd

# assume rets_m, infl_m, rf_m already exist
# original (no reindexing) so you can see misalignment
merged_orig = pd.concat([
    rets_m.add_prefix("ret_"),
    infl_m.rename("inflation_m"),
    rf_m.rename("rf_m"),
], axis=1)

# aligned to rets_m (what prep_returns_and_macro currently does)
merged_aligned = pd.concat([
    rets_m.add_prefix("ret_"),
    infl_m.reindex(rets_m.index).rename("inflation_m"),
    rf_m.reindex(rets_m.index).rename("rf_m"),
], axis=1)

# quick checks
print("indexes equal (infl==rets and rf==rets):",
      rets_m.index.equals(infl_m.index) and rets_m.index.equals(rf_m.index))
print("rets index min/max:", rets_m.index.min(), rets_m.index.max())
print("infl index min/max:", infl_m.index.min(), infl_m.index.max())
print("rf index min/max:", rf_m.index.min(), rf_m.index.max())

print("\nNaNs per column (original merged):\n", merged_orig.isna().sum())
print("\nNaNs per column (aligned to rets_m):\n", merged_aligned.isna().sum())

print("\nRows with any NaN in original merged (first 10):")
display(merged_orig[merged_orig.isna().any(axis=1)].head(10))

print("\nIndex differences (what months are missing/extra):")
print("in infl not in rets:", infl_m.index.difference(rets_m.index)[:20])
print("in rets not in infl:", rets_m.index.difference(infl_m.index)[:20])
print("in rf not in rets:", rf_m.index.difference(rets_m.index)[:20])
print("in rets not in rf:", rets_m.index.difference(rf_m.index)[:20])

# sample views
print("\nAligned head:")
display(merged_aligned.head())
print("\nAligned tail:")
display(merged_aligned.tail())

indexes equal (infl==rets and rf==rets): True
rets index min/max: 2006-08-31 00:00:00 2025-10-31 00:00:00
infl index min/max: 2006-08-31 00:00:00 2025-10-31 00:00:00
rf index min/max: 2006-08-31 00:00:00 2025-10-31 00:00:00

NaNs per column (original merged):
 ret_VTI        0
ret_TLT        0
ret_IEF        0
ret_GSG        0
ret_GLD        0
inflation_m    0
rf_m           0
dtype: int64

NaNs per column (aligned to rets_m):
 ret_VTI        0
ret_TLT        0
ret_IEF        0
ret_GSG        0
ret_GLD        0
inflation_m    0
rf_m           0
dtype: int64

Rows with any NaN in original merged (first 10):

Empty DataFrame
Columns: [ret_VTI, ret_TLT, ret_IEF, ret_GSG, ret_GLD, inflation_m, rf_m]
Index: []

Index differences (what months are missing/extra):
in infl not in rets: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')
in rets not in infl: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')
in rf not in rets: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')
in rets not in rf: DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq='ME')

Aligned head:

,ret_VTI,ret_TLT,ret_IEF,ret_GSG,ret_GLD,inflation_m,rf_m
Date,,,,,,,
2006-08-31,0.022987,0.030560,0.017636,-0.071330,-0.013775,0.000000,0.000000
2006-09-30,0.022600,0.019150,0.012076,-0.107363,-0.045272,0.000000,0.003923
2006-10-31,0.035301,0.008466,0.005385,-0.025434,0.012948,-0.004438,0.004010
2006-11-30,0.023295,0.023082,0.013115,0.050000,0.068891,0.000495,0.004026
2006-12-31,0.012015,-0.026956,-0.012756,-0.069222,-0.018326,0.005446,0.003955

Aligned tail:

,ret_VTI,ret_TLT,ret_IEF,ret_GSG,ret_GLD,inflation_m,rf_m
Date,,,,,,,
2025-06-30,0.051634,0.026640,0.016020,0.041096,0.004051,0.002870,0.003458
2025-07-31,0.022900,-0.011396,-0.005939,0.034483,-0.006135,0.001966,0.003474
2025-08-31,0.023513,0.000127,0.016481,-0.001316,0.049875,0.003825,0.003370
2025-09-30,0.034199,0.035910,0.006511,0.008783,0.117584,0.000000,0.003209
2025-10-31,0.008654,0.026611,0.012832,0.016108,0.065603,0.000000,0.003209

In [53]:
# 4) Sample paths
sampler = ReturnSampler(rets_m, infl_m)
R_paths, CPI_paths = sampler.sample(sim_cfg.horizon_months, sim_cfg.n_sims, sam_cfg)

In [54]:
R_paths.shape

(100, 360, 5)

In [55]:
CPI_paths.shape

(100, 360)

In [56]:
# 5) Run simulation
sim = MonteCarloSimulator(weights=p.weights_vector(), starting_balance=sim_cfg.starting_balance, rebalance_every_months=sim_cfg.rebalance_every_months)
out = sim.run_with_cashflows(R_paths, CPI_paths, goals)

In [57]:
np.median(out["alloc"].sum(axis=1))

np.float64(12379490.1645948)

In [58]:
# 6) Simple summary
surv = (out["failure_month"] == -1).mean()
cagr_vals = cagr(out["balances"], sim_cfg.horizon_months)
twrr_vals = twrr_annualized(out["twrr_monthly"])
mdd_vals = max_drawdown(out["balances"])

def pct(x): return f"{100*x:.1f}%"
print("=== Monte Carlo Summary (100 sims) ===")
print(f"Survival rate: {pct(surv)}")
print(f"End balance (nominal) median: ${np.median(out['balances'][:,-1]):,.0f}")
print(f"CAGR median: {np.nanmedian(cagr_vals):.2%}")
print(f"TWRR median: {np.nanmedian(twrr_vals):.2%}")
print(f"Max Drawdown median: {np.median(mdd_vals):.1%}")
print("Percentiles (10/50/90) - End Balance:",
        [f"${v:,.0f}" for v in np.percentile(out['balances'][:,-1], [10,50,90])])

=== Monte Carlo Summary (100 sims) ===
Survival rate: 100.0%
End balance (nominal) median: $12,379,490
CAGR median: 8.75%
TWRR median: 6.65%
Max Drawdown median: -16.9%
Percentiles (10/50/90) - End Balance: ['$7,465,750', '$12,379,490', '$18,919,622']

In [59]:
out["failure_month"].shape

(100,)

In [60]:
out["cashflows"][1]

array([   0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
          0.        ,    0.        ,    0.        ,    0.        ,
       4091.03625946, 4096.44105922, 4098.63360166, 4119.12576053,
       4143.50065285, 4148.63227826, 4166.66351881, 4174.34888562,
       4187.51671125, 4187.51671125, 4195.06200296, 4204.56198615,
       4226.31449028, 4248.29183885, 4213.31343283, 4246.42537549,
       4244.5257437 , 4248.37845305, 4247.11258303, 4265.57184948,
       4268.33906334, 4278.52882942, 4290.04785953, 4310.84386326,
       4321.97216096, 4331.98509736, 4329.73345265, 4330.76266705,
       4332.0134343 , 4332.0134343 , 4352.0964636 , 4363.83317375,
       4373.47247798, 4387.18242305, 4400.93534601, 4387.36017927,
       4393.8161531 , 4399.92002026, 4402.09927732, 4404.38914548,
       4418.67276534, 4419.72312137, 4435.82267288, 4459.97814288,
       4464.05799717, 4461.82439767, 4425.08786655, 4432.43700092,
       4449.41609427, 4449.28821299, 4462.24551253, 4492.20194972,
       4495.68364093, 4494.96432549, 4493.08185619, 4495.57075969,
       4523.3632956 , 4530.86882701, 4526.79863333, 4542.99564471,
       4548.622035  , 4607.53727652, 4624.32097126, 4610.05674712,
       4572.09974163, 4573.59778998, 4573.46633957, 4584.52418941,
       4593.88604134, 4604.03351109, 4594.51154045, 4611.24778686,
       4606.2881435 , 4617.17785027, 4618.31752345, 4645.1477683 ,
       4662.0873084 , 4670.70854182, 4680.69192969, 4702.54772492,
       4704.41061985, 4719.15798856, 4726.98839842, 4747.09390788,
       4752.95254722, 4792.40021039, 4803.61241477, 4828.86038351,
       4821.67274203, 4846.24612418, 4851.12669393, 4872.21119275,
       4871.43163239, 4871.43163239, 4868.99420276, 4883.61059129,
       4904.38226887, 4907.56389962, 4914.38146255, 4920.4678052 ,
       4950.88714136, 4941.56630342, 4949.40520779, 4960.98473795,
       4982.62920559, 4994.81911391, 5022.01862393, 5023.25822529,
       5027.55357162, 5038.29969652, 5036.04582099, 5052.06908218,
       5087.98134555, 5102.064475  , 5118.6106854 , 5128.74957284,
       5140.76463035, 5175.27617668, 5176.27170528, 5183.46255573,
       5204.34123353, 5222.848975  , 5223.85365482, 5235.01936057,
       5240.91129783, 5148.11846295, 5150.87389579, 5150.72585381,
       5149.70645355, 5105.42702928, 5120.74971841, 5131.80691476,
       5152.47752672, 5161.9985326 , 5167.37980713, 5179.4853632 ,
       5195.9650081 , 5199.47336278, 5216.186938  , 5216.186938  ,
       5238.85810168, 5266.39373823, 5286.82053163, 5311.50655427,
       5303.60050569, 5312.59973903, 5354.35084554, 5342.31647341,
       5365.03918507, 5377.81016837, 5385.72358333, 5386.96251805,
       5456.73621992, 5482.77176143, 5484.35524035, 5486.5278451 ,
       5494.60123746, 5513.76914952, 5529.82779657, 5544.71568338,
       5561.36054171, 5579.9824982 , 5595.1834645 , 5623.75465295,
       5622.07896834, 5640.61915307, 5592.11864709, 5606.23607453,
       5636.76508286, 5611.23928842, 5612.96912525, 5610.05166086,
       5612.96987733, 5610.45892399, 5612.18852025, 5601.62267655,
       5613.42467512, 5610.59718894, 5619.23103454, 5653.97026759,
       5660.19403718, 5657.66195819, 5684.6561699 , 5695.83098389,
       5717.64969129, 5724.73086223, 5739.50906142, 5787.16395642,
       5789.1013548 , 5795.92640263, 5809.35412504, 5806.69086403,
       5810.45785144, 5833.91696434, 5852.66994241, 5876.17763807,
       5894.87395904, 5898.91132016, 5900.84409829, 5917.39302981,
       5916.44623895, 5932.56379845, 5943.12729692, 5943.12729692,
       5946.30824318, 5948.66384871, 5959.6642475 , 5965.0737692 ,
       6007.67301396, 6043.2233689 , 6047.77207572, 6038.77011377,
       6040.6317501 , 6052.12710799, 6054.52463323, 6071.57067874,
       6135.19002319, 6161.3593954 , 6193.74373368, 6237.77150776,
       6250.89142499, 6283.23071311, 6301.26231912, 6318.25552919,
       6357.31627433, 6389.77921008, 6408.26966377, 6421.48532104,
       6425.88335488, 6431.67400865, 6461.4909747 , 6469.49337509,
       6463.10615519, 6546.8184217 , 6554.53677833, 6572.2130176 ,
       6590.45720022, 6587.15965303, 6609.52200508, 6614.49696231,
       6632.8053661 , 6661.74388309, 6679.3586608 , 6698.24309332,
       6693.52624465, 6714.82313573, 6729.40469553, 6750.15305067,
       6756.95101181, 6736.1084569 , 6742.77371508, 6763.01506191,
       6761.93297039, 6763.23371211, 6785.16716445, 6822.01012516,
       6838.29624637, 6864.49133279, 6880.87886899, 6889.40067115,
       6877.83099407, 6856.61557162, 6869.26252655, 6862.72452288,
       6882.12738245, 6904.24980632, 6915.71630396, 6973.13719673,
       6992.69337683, 6990.41996264, 7014.80603713, 7053.49442682,
       7061.92065464, 7109.03985518, 7097.10132824, 7116.7455427 ,
       7125.13581361, 7158.40557621, 7160.80203214, 7157.51920854,
       7179.00074987, 7175.99421912, 7220.35767988, 7216.98431703,
       7225.49276422, 7273.70336573, 7290.7207777 , 7311.8493926 ,
       7327.47807675, 7331.28965792, 7350.54264754, 7372.5991451 ,
       7369.51153627, 7389.3523808 , 7410.87178967, 7439.26020983,
       7464.51530679, 7486.2554293 , 7513.52531738, 7540.92501912,
       7557.95204912, 7575.63448367, 7620.46323752, 7626.41345143,
       7665.2810358 , 7671.22202907, 7698.6698748 , 7712.90642285,
       7726.80395042, 7766.18316928, 7758.51574978, 7794.74298585,
       7831.13937961, 7857.36265924, 7905.93847876, 7920.98352636,
       7954.674197  , 7974.83646168, 7997.91368226, 7997.91368226,
       8064.32001296, 8075.52292549, 8093.81045784, 8112.54261914,
       8112.54261914, 8151.8681633 , 8169.04324666, 8183.58901115,
       8232.01533084, 8247.23815294, 8254.67011178, 8279.45006848,
       8307.17455706, 8328.19811636, 8333.62500895, 8333.62500895,
       8365.6980162 , 8346.89537775, 8360.13622299, 8367.78382495,
       8383.25771309, 8414.53852546, 8471.02793065, 8495.69948364,
       8556.09054172, 8551.78083255, 8547.86032368, 8575.33720383])

In [61]:
# diagnostics: run where tickers and prices_m are defined
print("shape:", prices_m.shape)
print("first/last index:", prices_m.index.min(), prices_m.index.max())
print("columns returned:", list(prices_m.columns))
print("missing tickers:", set(tickers) - set(prices_m.columns))
print("NaN counts per column:\n", prices_m.isna().sum())
# show months that are all-NaN (these were dropped by fetcher)
# run before calling fetcher to see raw behavior, otherwise inspect cache file

shape: (293, 5)
first/last index: 2001-06-30 00:00:00 2025-10-31 00:00:00
columns returned: ['VTI', 'TLT', 'IEF', 'GSG', 'GLD']
missing tickers: set()
NaN counts per column:
 Ticker
VTI     0
TLT    13
IEF    13
GSG    61
GLD    41
dtype: int64

In [62]:
from portfolio_tester.data.cache import key_path
key = "|".join(tickers) + f"|{None}|{None}"   # use actual start/end if provided
path = key_path("prices_yf", key)
print("cache path:", path)
print("exists?", path.exists())
if path.exists():
    import pandas as pd
    print(pd.read_csv(path, index_col=0, parse_dates=True).head())

cache path: data_cache/prices_yf_5d45f30857e9b55d.csv
exists? True
                  VTI  TLT  IEF  GSG  GLD
Date
2001-06-30  36.763493  NaN  NaN  NaN  NaN
2001-07-31  36.060764  NaN  NaN  NaN  NaN
2001-08-31  33.949314  NaN  NaN  NaN  NaN
2001-09-30  31.001377  NaN  NaN  NaN  NaN
2001-10-31  31.638054  NaN  NaN  NaN  NaN